<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content black-text">
          <span class="userName" style="font-size: 120%">Card Title</span>
          <p class="userId grey-text" style="margin-top: 0">id: @dfegi4948220422--2</p>
          <p class="postingTime grey-text" style="margin-bottom: 10px">posted Jul 1, 2016</p>
          <p>{{text}}</p>
        </div>
        <div class="card-action">
          <a href="#">Like</a>
          <a href="#">Replay</a>
        </div>
      </div>
    </div>
  </div>
</div>


